<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzc.network" >

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取访问WIFI状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
